<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="jp.ac.ehime_u.cite.sasaki.easyguide.player"
    android:versionCode="051"
    android:versionName="0.5.1" >

    <uses-sdk android:minSdkVersion="13" />

    <application
        android:debuggable="true"
        android:icon="@drawable/icon48"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="OrganizationsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuildingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EquipmentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="OrganizationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="FacilityActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="FloorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="RoomActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>
</manifest>